#everydayPage{
  position: relative;
  #bdMap {
    width: 100%;
    height: 100%;
  }
  .mapSearchBox{
    width:3.5rem;
    height:0.4rem;
    position: absolute;
    left:0.3rem;
    top:0.15rem;
    z-index:90;
    .mapSearchCon{
      width:100%;
      height:100%;
      position: relative;
      .seerchInput{
        width:100%;
        height:100%;
        padding-left:9px;
        padding-right:0.6rem;
        text-align: left;
        border:1px solid #ddd;
      }
      .searchBtnBox{
        width:0.6rem;
        height:100%;
        background:#6babcf;
        position: absolute;
        right:0;
        top:0;
        line-height: 0.4rem;
        color:#fff;
        font-size:0.15rem;
        cursor: pointer;
      }
    }
  }
  .mapPopBox{
    width:calc(~"50% - 0.8rem");
    height:2.9rem;
    background:#fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    right:0.1rem;
    bottom:0;
    padding:6px;
    border:1px solid #c1c1c1;
    .popHeadBox{
      width:100%;
      line-height:35px;
      border-bottom:1px solid #ddd;
      font-size:18px;
      font-weight:700;
      text-align: left;
      position: relative;
      .ico{
        font-size:0.22rem;
        color:#bbb;
        position: absolute;
        right:5px;
        top:0;
        cursor: pointer;
      }
      .newsIco{
        display: inline-block;
        padding:1px 5px;
        background:#dc5050;
        color:#fff;
        font-size:0.12rem;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        line-height: 0.26rem;
      }
    }
    .popConBox{
      width:100%;
      height:calc(~"100% - 0.4rem");
      overflow-y: auto;
    }
  }
  .statisticsBox{
    position: absolute;
    left:0.1rem;
    bottom:0;
    .popConBox{
      .totalBigBox{
        width:100%;
        height:35px;
        .totalBox{
          width:50%;
          font-size:15px;
          color:#333;
          line-height: 35px;
          font-weight:700;
          text-align: left;
          float:left;
        }
      }
      .groupBigBox{
        width:100%;
        height:calc(~"100% - 35px");
        overflow-y: auto;
        .groupBox{
          width:50%;
          height:100%;
          float:left;
          .seaticListBox{
            width:100%;
            height:100%;
            ul{
              width:100%;
              li{
                width:100%;
                line-height: 20px;
                color:#bbb;
                font-size:14px;
                text-align: left;
                .title{
                  display: inline-block;
                  height:100%;
                  text-align: left;
                }
                .value{
                  display: inline-block;
                }
                .value2{
                  padding-right:0.1rem;
                }
                .ratioUp{
                  color:#bd2c00;
                  font-size:0.1rem;
                  padding:0 3px;
                }
                .ratioDown{
                  color:#1a7bb2;
                  font-size:0.1rem;
                  padding:0 3px;
                }
                .look{
                  cursor: pointer;
                  color:#1a7bb2;
                  float:right;
                }
              }
            }
          }
          .bicycleListBox{
            padding-right:7px;
          }
        }
      }


    }
  }
  .statisticsBox.statisticsHidden{
    width:2rem;
    height:auto;
    .popConBox{
      width:100%;
      height:1px;
    }
  }
  .newsBox{
    ul{
      width:100%;
      li{
        width:100%;
        line-height: 35px;
        height: 35px;
        color:#bbb;
        font-size:14px;
        text-align: left;
        white-space: nowrap;
        span{
          height:100%;
          overflow: hidden;
        }
        .time{
          display: inline-block;
          width:1.8rem;
          height:100%;
          text-align: left;
        }
        .addres{
          display: inline-block;
          width:calc(~"100% - 4.6rem");
          text-align: center;
          word-wrap: break-word ;
          overflow: hidden;
        }
        .num{
          display: inline-block;
          width:0.8rem;
          text-align: center;
        }
        .tip{
          display: inline-block;
          width:1.5rem;
          color:#67c590;
        }
        .tip2{
          color:#ffb738;
        }
        .tip3{
          color:#fc7c82;
        }
        .detail{
          display: inline-block;
          width:0.5rem;
          cursor: pointer;
          color:#1a7bb2;
        }
      }
    }
  }
  .newsBox.newsHidden{
    width:2rem;
    height:auto;
    .popConBox{
      width:100%;
      height:1px;
    }
  }
  .mapControlBox{
    width:0.4rem;
    height:auto;
    position: absolute;
    right:0.1rem;
    bottom:4.3rem;
    background:#fff;
    .mapBtn{
      width:100%;
      height:0.4rem;
      line-height: 0.4rem;
      text-align: center;
      font-size:0.3rem;
      color:#666;
      cursor: pointer;
      .con{
        display: inline-block;
        width:85%;
        height:100%;
        margin:0 auto;
        border-bottom:1px solid #ddd;
      }
    }
    .mapBtn:hover{
      background:#1a7bb2;
      color:#fff;
    }
  }
  .mapControlBox.mapControlDown{
    bottom:1rem;
  }

  /*统计区车辆查看详情弹框*/
}


.detailPopBox{
  width:100%;
  height:100%;
  min-width: 450px;
  background:#fff;
  .detailPoplist{
    line-height: 0.5rem;
    border-bottom:1px dashed #cdcbcb;
    font-size:14px;
    .newslist{
      display: inline-block;
      padding:5px;
      min-width: 36px;
      width:19%;
    }
    .newslist:first-child{
      width:31%;
    }
    .newslist.siteName{
      width:31%;
    }
    .newslist.tip{
      color:#67c590;
    }
    .newslist.tip2{
      color:#ffb738;
    }
    .newslist.tip3{
      color:#fc7c82;
    }
    .bikeIteaBox{
      width:100%;
      height:auto;
      overflow: hidden;
      .bikesiteBox{
        width:50%;
        line-height: 32px;
        float:left;
        text-align: left;
        padding-left:15px;
       span{
          display: inline-block;
          padding:5px 7px;
        }

      }
    }
  }
  .detailPoplist:hover{
    background:#ddd;
  }
}

.anchorBL{
  display:none;
}
/*layer弹框*/
.vl-notify .vl-notify-content{
  padding: 7px !important;
  margin-left:0 !important;
  max-height: calc(~"100% - 150px");
  overflow-y: auto;
}

/*百度地图信息框*/
.BMap_pop div{

}
#bdMap {
  .BMap_bubble_title{
    background: #a39f9f;
    color: #53595f;
  }
  .BMap_bubble_content{
    padding:0;
    .bdInfoList{
      line-height: 30px;
      border-bottom:1px dashed #eee;
      padding-left:7px;
      font-size:14px;
      .title{
        display: inline-block;
        width:50%;
      }

    }
    .bickbigBox{
      width:100%;
      height:95px;
      overflow-y: auto;
      .bickBox{
        width:50%;
        float:left;
        min-height:32px;
        .bikeLine{
          width:100%;
          line-height: 32px;
          font-size:12px;
          padding-left:5px;
          border-bottom:1px dashed #eee;
          .title{
            display: inline-block;
            width:50%;
          }
          .num{
            display: inline-block;
            width:50%;
          }
        }
      }
      .leftbickBox{
        border-right:1px dashed #eee;
      }
    }
  }
}



.BMap_bubble_title{
  font-size: 0.23rem;
  font-weight:700;
  line-height: 0.25rem;
  background:#ddd;
  padding:3px 5px;
}
.BMap_bubble_content{
  //line-height: 0.28rem;
  //font-size:0.15rem;
  line-height: 22px;
  font-size: 13px;
  background:#ddd;
  padding:3px 5px;
}
.vl-notify-btns{
  display: none;
}

.vl-notify.vl-notify-alert{
  max-width: 1500px !important;
}
.vl-notify.vl-notify-alert h2.vl-notice-title .lv-title{
  font-size: 16px;
}